<html>
<head>
    <title>Security Camera</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1 class="header-logo">Security Camera</h1>
    </header>
    <div class="side-panel">
        <div class="button-container">
            <a href="/" class="nav-button"><img src="/static/images/home.png" alt="Home"></a>
            <a href="/dashboard" class="nav-button"><img src="/static/images/camera.png" alt="Dashboard"></a>
            <a href="/configuration" class="nav-button"><img src="/static/images/circle-nodes.png" alt="Configuration"></a>
        </div>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
