{% extends "base.html" %}

{% block content %}
<h1>Configuration</h1>


<div id="ip-connecion-forms">
    <div id="add-connection-form">
        <input type="text" id="newTextField" placeholder="Enter camera ip address">
        <button onclick="addTextField()">Add</button>
    </div>

    <div id="list-connection-form">
        {% for config in configs %}
        <div class="connection-item" id="field-{{ config.id }}">
            <span>ID: {{ config.id }}</span>
            <input type="text" value="{{ config.ip }}" disabled>
            <button onclick="deleteTextField({{ config.id }})">Delete</button>
        </div>
        {% endfor %}
    </div>
</div>


<script>
    async function loadTextFields(newConfig) {
        const container = document.getElementById("list-connection-form");

        const newDiv = document.createElement('div');
        newDiv.className = 'connection-item';
        newDiv.id = `field-${newConfig.id}`;

        const idSpan = document.createElement('span');
        idSpan.textContent = `ID: ${newConfig.id}`;

        const newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.value = newConfig.ip;
        newInput.disabled = true;

        const deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.onclick = async function() {
            await deleteTextField(newConfig.id);
            newDiv.remove();
        };

        newDiv.appendChild(idSpan);
        newDiv.appendChild(newInput);
        newDiv.appendChild(deleteButton);
        container.insertBefore(newDiv, container.firstChild);
    }



    async function addTextField() {
        const input = document.getElementById('newTextField');
        const ip = input.value;
        if (ip) {
            const response = await fetch(`camera_config`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ ip: ip }),
            });
            if (!response.ok) {
                console.error('Error adding ip connection form:', await response.json());
            }
            const newConfig = await response.json();
            loadTextFields(newConfig.camera_config);
            input.value = '';
        }
    }

    async function deleteTextField(id) {
        const response = await fetch(`camera_config/${id}`, {
            method: "DELETE",
        });
        if (!response.ok) {
            console.error('Error deleting ip connection form:', await response.json());
        }
        else {
            const divToRemove = document.getElementById(`field-${id}`);
            if (divToRemove) {
                divToRemove.remove();
            }
        }
    }
</script>

{% endblock %}
