{% extends "base.html" %}

{% block content %}
<h1>Конфигурация</h1>
<div id="url-connecion-forms">
    <div id="add-connection-form">
        <input type="text" id="newNameField" placeholder="Введите имя камеры">
        <input type="text" id="newTextField" placeholder="Введите URL-адрес камеры">
        <button onclick="addTextField()">Добавить</button>
    </div>
    <div class="connection-item header" style="margin-bottom: 10px;">
        <span>ID</span>
        <span style="padding-right: 38%;">Имя камеры</span>
        <span>URL-адрес камеры</span>
    </div>
    <div id="list-connection-form">
        
        {% for config in configs %}
        <div class="connection-item" id="field-{{ config.id }}">
            <span>{{ config.id }}</span>
            <input type="text" value="{{ config.name }}" disabled>
            <input type="text" value="{{ config.url }}" disabled>
            <button onclick="deleteTextField({{ config.id }})">Удалить</button>
        </div>
        {% endfor %}
    </div>
</div>

<div id="pagination">
    <button id="prev-page" onclick="changePage({{ current_page - 1 }})" {% if current_page == 1 %}disabled{% endif %}>Предыдущая</button>
    <span id="current-page">{{ current_page }}</span> / <span id="total-pages">{{ total_pages }}</span>
    <button id="next-page" onclick="changePage({{ current_page + 1 }})" {% if current_page == total_pages %}disabled{% endif %}>Следующая</button>
</div>
<script src="/static/js/configuration/main.js"></script>
{% endblock %}
