/* Base */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(51, 51, 51);
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin: 11px;
    margin-left: 0px;
}
h1.header-logo {
    color: white;
    font-size: 24px;
    margin: 0;
}
.header-image {
    height: 50px;
    margin-right: 20px;
}
.side-panel {
    position: fixed;
    top: 60px;
    left: 0;
    width: 60px;
    height: calc(100vh - 60px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.side-panel .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-panel .nav-button img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.side-panel .nav-button img:hover {
    transform: scale(1.1);
}

.main-content {
    margin-left: 70px;
    margin-top: 80px;
    margin-right: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dashboard */

.url-block { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    position: absolute;
    top: 50%;
    z-index: 100;
}
.url-block input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.camera-connect-button {
    background-color: #007bff;
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;

}
.camera-connect-button:hover {
    background-color: #0056b3;
}
.camera-connect-button:active {
    background-color: #02213f;
}
.camera-disconnect-button {
    background-color: #dc3545;
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;

}
.camera-disconnect-button:hover {
    background-color: #af2633;
}
.camera-disconnect-button:active {
    background-color: #460e14;
}
.camera-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}
.camera-block { 
    display: flex; 
    position: relative;
    flex-direction: column; 
    align-items: center; 
}
.video-and-detection { 
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    position: relative;
    z-index: 0;
}
.video-container { 
    border: 2px solid #bfbebe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: auto; 
    /* width: calc(33.333% - 20px); */
    height: auto; 
    z-index: 0;
}
.detect-container { 
    display: flex; 
    gap: 2px;
    position: absolute;
    z-index: 0;
}
.detect { 
    width: 40px; 
    height: 40px;
}
.detect img { 
    width: 40px; 
    height: 40px;
}
.add_block_button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.add_block_button:hover {
    background-color: #2d8341;
}
.add_block_button:active {
    background-color: #103719;
}

.camera-name {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 16px;
    color: #e6dede;
    text-shadow:
    -0.5px -0.5px 0 rgb(51, 51, 51),
    0.5px -0.5px 0 rgb(51, 51, 51),
    -0.5px 0.5px 0 rgb(51, 51, 51),
    0.5px 0.5px 0 rgb(51, 51, 51);
    z-index: 100;
}

/* Camera Config */

#url-connection-forms {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#add-connection-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#add-connection-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#add-connection-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#add-connection-form button:hover {
    background-color: #0056b3;
}
#add-connection-form button:active {
    background-color: #02213f;
}
#list-connection-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.connection-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.connection-item span {
    font-weight: bold;
    color: #555;
}

.connection-item input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
}

.connection-item button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.connection-item button:hover {
    background-color: #af2633;
}
.connection-item button:active {
    background-color: #460e14;
}
/* Pagination */

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

#pagination button {
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

#pagination button:hover {
    background-color: #007bff;
    border: none;
    color: white;
}

#pagination button:active {
    background-color: #02213f;
    border: none;
    color: white;
}

#pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#pagination button:disabled:hover {
background: none;
color: inherit;
border-color: #ccc;
}

#current-page-info {
font-size: 16px;
font-weight: bold;
}